body {
	background-image: url(https://static.pexels.com/photos/92628/pexels-photo-92628.jpeg);
	background-size: cover;
}
h1, p {
	color: black;
	font-size:26px;
	font-family: 'Noto Sans', sans-serif;
}

#about{
	float: right;
}
#work{
	float: right;
	position: relative;
}

#name{
	font-size:60px;
}

#slogan {
	font-size: 44px;
	font-weight: bold;
	font-style: italic;
	color: red;
}
h2 {
	font-size:30px;
}
.wrapper{
	text-align: center;
  	width: 800px;
  	margin: 0 auto;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;article 
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px; 
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px; 
}


 


